html,
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Open Sans';
  background-color: rgb(247, 247, 244);
  color: #2E261F;
  font-size: 105%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



h2, h3, h4, .sitetitle, .navbar div {
  font-family: 'Special Elite', serif;
}

.navbar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2E261F;
  color:white;
  align-content:center;
  height: 80px;
}

.stuck.navbar {
  top: 0;
  position: fixed;
  width:100%;
}

.free.navbar {
  position: inherit;
  background: rgb(46,38,31);
  /* background: linear-gradient(180deg, rgba(46,38,31,1) 0%, rgb(37, 30, 24) 54%);} */
}

.navbar nav, .navbar div {
  display:flex;
  align-self: center;
}

.navbar div {
  text-align: center;
  padding:20px;
}

.sessioncontent, .homecontent {
  margin: 0 auto;
  padding:0px 60px;
  max-width: 960px;
  margin-top:100px;
  line-height: 1.2;
}

.sessioncontent h2,
.sessioncontent h3,
.sessioncontent h4,
.homecontent h2,
.homecontent h3,
.homecontent h4 {
  margin-top: 60px;
}

.titlecanvas {
  /* height:400px; */
  height: calc(100vh - 80px);
  /* background-color: #2E261F; */
  background:url('/sojourner.png');
  background-position-x: 90%;
  background-position-y:50%;
  backdrop-filter: grayscale(90%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index:100;
  animation: fadein 3s;
}

@keyframes fadein {
  from {opacity: 0.0;}
  to {opacity: 1;}
}

/* .titlecanvas::after {
  content: "";
  height:100vh;
  width: 100%;
  background-color: rgba(39, 38, 36, 0.7);
  position:absolute;
  top:0;
  left:0;
  z-index:200;
} */

.sitetitle {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:100%;
  font-size: 400%;
  color:white;
  position: relative;
}

.sub {
  font-size: 120%;
  color:aliceblue;
  position: absolute;
  top: 20px;
  text-align: center;
  font-family: 'Special Elite';
  z-index:300 !important;
  width:100%;
}

.sub a {
  text-decoration: underline;
}

.sitetitle > div {
  padding:30px;
}

.maintitle-wrap {
  display: flex;
  flex-direction: column;
}

.maintitle {
  display:flex;
  flex-direction: row;
}


.filterator {
  position: absolute;
  height:calc(100vh - 80px);
  width:100%;
  top:0;
  background: rgb(46,38,31);
  background: linear-gradient(0deg, rgba(46,38,31,1) 0%, rgba(46,38,31,0.5369565217391304) 62%);
}
/* .titlecanvas.small {
  height:100px;
  background-color: #2E261F;
  color:whitesmoke;
  display:flex;
  align-content: center;
} */

/* .sitetitle {
  display:flex;
} */

.reglink, footer a {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding:60px;
  color:white;
  background-color: #2E261F;
  margin-top:60px;
  font-family: 'Special Elite';
}

#poder {
  color: red;
}

#of {
  color: white;
}

#truths {
  color: blue;
}

.homecontent a {
  text-decoration: underline;
}

.subtitle {
  font-size:40%;
}

@media screen and (max-width: 480px) {
  .navbar {
    justify-content: center;
  }
  .navbar .brand {
    display: none;
  }
}

.homecontent iframe {
  margin: 0 auto;
  width:100%;
  min-height: 400px;
}

@media screen and (max-width: 840px) {
  .sitetitle, .maintitle {
    flex-direction: column;
  }

  .subtitle p {
    font-size: 80%;
  }

  .homecontent {
    margin-top: 70px;
    padding:20px;
  }
}

@media screen and (min-width: 840px) {
  /* .homecontent iframe {
    float:right;
    margin-left:40px;
  } */

  .navbar {
    font-size: 130%;
  }
}

.navbar-register-link a {
  color:lightskyblue !important;
  padding: 15px 13px 12px 13px;
  border-radius:3px;
  border:2px solid lightskyblue;
}

.register-wrap p a {
  padding: 15px 16px 12px 16px;
  border:2px solid lightskyblue;
  background-color:#2E261F;
  color:lightskyblue;
  font-family: 'Special Elite';
  border-radius: 4px !important;
  font-size: 129%;
}

@media screen and ( max-height: 699px ) {
  .flying.sitetitle {
    padding-top: 112px;
  }
}

#speakers, #speakers-subtitle {
  text-align: center;
  margin:2px;
}

.speakers-gallery {
  padding-top:20px;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.speaker-item {
  text-align: center;
  width:33.3%;
  padding:20px;
}

.speaker-item img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom:20px;
}

.tickets-wrapper {
  margin: 80px auto;
  width:90;
  text-align: center;
  margin-top:80px;
}

.tickets-wrapper div {
  margin:20px auto;
  padding:20px;
  width: 70%;
  border:1px solid #2E261F;
  border-radius: 15px;
}

.ticket {
  margin-top:40px;
}

.ticket-link  {
  background-color: #2E261F;
  padding: 15px;
  font-weight: bold;
  border-radius:9px;
  color: aliceblue;
  cursor: pointer;
}