html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(247, 247, 244);
  color: #2E261F;
  font-size: 105%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



h2, h3, h4, .sitetitle, .navbar div {
  font-family: 'Special Elite', serif;
}

.navbar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.stuck.navbar {
  top: 0;
  position: fixed;
  width:100%;
  background-color: #2E261F;
  color:white;
}

.free.navbar {
  position: inherit;
}

.navbar nav {
  display:flex;
}

.navbar div {
  text-align: center;
  padding:20px;
}

.sessioncontent, .homecontent {
  margin: 0 auto;
  padding:60px;
  max-width: 960px;
}

.titlecanvas {
  /* height:400px; */
  height: calc(100vh - 80px);
  border:1px dotted red;
}

.sitetitle {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:100%;
  color:orange;
  border:1px dotted orange;
}

/* .titlecanvas.small {
  height:100px;
  background-color: #2E261F;
  color:whitesmoke;
  display:flex;
  align-content: center;
} */

/* .sitetitle {
  display:flex;
} */

/* .sitetitle::after {
  content: "";
  height:100vh;
  width: 100%;
  background-color: rgba(39, 38, 36, 0.7);
  position:absolute;
  top:0;
  left:0;
  z-index:200;
} */