.main{
  display:flex;
  flex-direction: column;
  background:url('/sojourner.png');
  background-position-x: 90%;
  background-position-y:50%;
  backdrop-filter: grayscale(20%);
  background-repeat: no-repeat;
  background-size: cover;
}

.main::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(39, 38, 36, 0.7);
  position:absolute;
  top:0;
  left:0;
}

.year {
  position: absolute;
  top:40%;
  font-size:50%;
}

.smally {
  font-size: 80%;
}
.lettersin {
  padding: 40px;
  display:flex;
  min-height:82vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 370%;
  font-family:'Special Elite', serif;
}

.subwords {
  font-size: 43%;
  z-index: 1002;
  padding:10px;
  align-items: center;
}

/* .lettersin:before {
  content: "";
  background-image: url('/sojourner.png');
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-position-y:20%;
  background-position-x:60%;
  filter: grayscale(50%);
  filter: opacity(25%);
} */

.lettersin div {
  color:whitesmoke;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color:#010002;
  color:bisque;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: flex;
  min-height: 18vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: transparent;
  z-index:1000;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: whitesmoke;
  text-decoration: none;
  max-width: 300px;
  font-family: 'Special Elite';
}

.card:hover,
.card:focus,
.card:active {
  font-weight: bold;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card a:hover {
  text-decoration: underline;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .lettersin {
    flex-direction: column;
  }

  .main {
    background-position-x: 50%;
  }
}

.content {
  background-color: rgb(249, 250, 239);
  z-index: 1001;
  padding:40px;
  color: #2E261F;
}

.content h2 {
  font-family: 'Special Elite';
  margin-top:4rem;
  text-align: center;
  font-size: 190%;
}

.content h3 {
  font-family: 'Special Elite';
  font-size:110%;
  font-weight: 900;
}

.contento {
  max-width: 800px;
  margin: 0 auto;
}